html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
    background-color: #121212; /* Default dark background */
    color: #ffffff;           /* Default dark text color */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background-color: #222;  /* Dark header background */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
/* Switch from Uiverse.io by alexruix */
.switch {
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #28096b;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: .5s;
}

/* Checked input */
input:checked + .slider {
    background-color: #522ba7;
}

input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
}

/* Main content */
main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* Content container */
.content {
    background-color: rgba(0, 0, 0, 0.8); /* Dark mode background */
    color: white;                        /* Dark mode text */
    border-radius: 15px;
    padding: 20px;
    max-width: 1600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px); /* Optional blur */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #222;  /* Dark header background */
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Light mode styles */
body.light {
    background-color: #f4f4f4;
    color: #222;
}

header.light {
    background-color: #ddd;
    color: #222;
}

.content.light {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
}

footer.light {
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
}


